.wasabee-anchor-icon,
.wasabee-anchor-icon.wasabee-layer-main,
.wasabee-anchor-icon.wasabee-layer-groupa,
.wasabee-anchor-icon.wasabee-layer-groupb,
.wasabee-anchor-icon.wasabee-layer-groupc,
.wasabee-anchor-icon.wasabee-layer-groupd,
.wasabee-anchor-icon.wasabee-layer-groupe,
.wasabee-anchor-icon.wasabee-layer-groupf {
  background-image: url(../images/marker_layer_main.png)
}

.wasabee-toolbar-wasabee {
  background-image: url(../images/toolbar_wasabeebutton_out.png)
}
.wasabee-toolbar-wasabee.wasabee-logged-in {
  background-image: url(../images/toolbar_wasabeebutton_in.png)
}